
/* Main Body Styling */

body {

    background-color: #FFAAA5;
    font-family: 'Sora', sans-serif;
    text-align:center;
}

.container-fluid {
    display:flex;

}

.center {

    margin: 0 auto;
    text-align: center;
    align-items:center;
    
}


/* Form Styling */


form {
    background-color:#FFDAC7;
    border-radius:0.5rem;
    padding: 1rem;
    margin-top: 0px;
    margin-bottom: 20px;
    width: 60%;
    display: inline-block;
    
                }
input {
    width:fit-content;
    font-style:italic;
    text-align: left;
    margin-bottom:1rem;
}

label {
    text-align: left;
    align-content: left; 
    float:left; 
}

select {

    width:5rem;
    height:2rem;
    padding:.375rem;
    line-height: 1.5;
    font-style:italic;
    text-align: left;
    margin-bottom:1rem;
    border-radius:0.25rem;
    border-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    height:38px;
    margin-top:0;
}

.submit-button {
    background-color:#FFAAA5;
}

select:required:invalid {
    color: gray;
}

option[value=""][disabled] {
    display: none;
}

option {
    color: black;
}   

.form-control {

  color: #747474;
}