body {

    background-color: #FFAAA5;
    font-family: 'Sora', sans-serif;
}


.container-fluid {
    display:flex;

}


.center {

    margin: 0 auto;
    text-align: center;
    align-items:center;
    
}

