a {
    color: #FFD3B6;
    font-size: 300%;
    text-decoration: none;
    font-family: 'Sora', sans-serif;
}

a:hover {
    color:#FFD3B6;
    cursor:pointer;  
    text-decoration: underline;
}

.nav-1 {
    display:inline-block;
    margin-right: 10%;
    margin-top: 4%;

}


.nav-2 {
    display:inline-block;
    margin-right: 10%;
    margin-top: 4%;
}